body {
  background-image: url("/static/src/patrones/fondo404_4.jpg");
  margin: 0;
  padding: 80px 123px 80px 123px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Nexa";
  font-weight: bold;
}

.error404 {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.contendor404 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

img {
  width: 50%;
}

.surprise {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.t404 {
  color: rgb(255, 255, 255);
  font-size: 140px;
}

.titulo {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

video {
  width: 100%;
}

/* From Uiverse.io by TISEPSE */
button {
  display: flex;
}

.btn2 {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fefefe;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
}

.btn2::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - -2px);
  background-color: #212121;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.btn2::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 50px);
  background-color: #212121;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.btn2:hover::before {
  transform: translateY(-25px);
  height: 0;
}

.btn2:hover::after {
  transform: scaleX(0);
  transition-delay: 0.15s;
}

.btn2:hover {
  border: 2px solid #fefefe;
}

.btn2 span {
  position: relative;
  z-index: 3;
}

button {
  text-decoration: none;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 1050px) {
  .contendor404 {
    width: 100%;
  }

  img {
    width: 30%;
  }
}

@media screen and (max-width: 800px) {
  img {
    width: 45%;
  }
}

@media screen and (max-width: 800px) {
  img {
    width: 60%;
  }

  .titulo {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }

  body {
    padding: 80px 50px 80px 50px;
  }
}
