{% extends 'empresa_fumigadora/components/plantilla.html' %}

<!--extensiones css/bootstrap-->
{% block extensiones %} {{super()}}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/empresa_fumigadora/estilos_encargado.css')}}"
/>

<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/empresa_fumigadora/perfil/perfil.css')}}"
/>
{% endblock %}

<!--titulo de la pagina-->
{% block titulo %} EDITA TU CUENTA {% endblock %}

<!--cerrar sesion-->
{% block cerrar_sesion %} {{url_for('Login.cerrar_sesion')}} {% endblock %}

<!--logo de la empresa-->
{% block logo %} {{ file_path }} {% endblock %}

<!--boton de borrado de cuenta-->

<!--foto del encargado-->
{% block encargado %} {{file_path_encargado}} {% endblock %}

<!--titulos de cada pagina-->
{% block titulos_contenido %}
<div class="titulo_contenido_pag">
  <span class="txt_contenido_pag">EDITA TU CUENTA </span>
</div>
{% endblock %}

<!--imagen de bienvenida-->
{% block contenido_usuario%}
<div class="contendor_mensaje_bienvenida">
  <form
    action="{{ url_for('Empresa_fumigadora.actualizar_cuenta')}}"
    method="post"
  >
    <div class="contenedor_de_inputs">
      <div class="input1">
        <label for="Dirección">Dirección</label>
        <input
          type="text"
          name="Dirección"
          required
          minlength="10"
          maxlength="50"
          value="{{ direccion }}"
        />
      </div>
      <div class="input2">
        <label for="Departamento">Departamento</label>
        <select name="Departamento">
          <option value="1">Amazonas</option>
          <option value="2">Antioquía</option>
          <option value="3">Arauca</option>
          <option value="4">Atlántico</option>
          <option value="5">Bolívar</option>
          <option value="6">Boyacá</option>
          <option value="7">Caldas</option>
          <option value="8">Caquetá</option>
          <option value="9">Casanare</option>
          <option value="10">Cauca</option>
          <option value="11">Cesar</option>
          <option value="12">Chocó</option>
          <option value="13">Córdoba</option>
          <option value="14">Cundinamarca</option>
          <option value="15">Guainía</option>
          <option value="16">Guaviare</option>
          <option value="17">Huila</option>
          <option value="18">La Guajira</option>
          <option value="19">Magdalena</option>
          <option value="20">Meta</option>
          <option value="21">Nariño</option>
          <option value="22">Norte de Santander</option>
          <option value="23">Putumayo</option>
          <option value="24">Quindío</option>
          <option value="25">Risaralda</option>
          <option value="26">San Andrés y Providencia</option>
          <option value="27">Santander</option>
          <option value="28">Sucre</option>
          <option value="29">Tolima</option>
          <option value="30">Valle del Cauca</option>
          <option value="31">Vaupés</option>
          <option value="32">Vichada</option>
          <option value="33">Distrito Capital</option>
        </select>
      </div>
    </div>

    <div class="contenedor_de_inputs">
      <div class="input1" style="width: 100%">
        <label for="Descripción">Descripción</label>
        <textarea
          name="Descripción"
          id="Descripción"
          style="resize: none; width: 100%"
          minlength="50"
          maxlength="500"
        >
{{ descripcion }}</textarea
        >
      </div>
    </div>

    <div class="contenedor_de_inputs" id="enviar_cambios">
      <div class="input1" style="width: 70%">
        <input type="submit" id="enviar_cambios_boton" />
      </div>
    </div>
  </form>
</div>
{% endblock %}
