body {
  font-family: "Nexa";
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/static/src/patrones/morado1.png");
  margin: 0;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  background-size: cover;
}

.caja0 {
  width: 100%;
  padding: 3% 5%;
  background-image: url("/static/src/patrones/morado1.png");
  margin: 0;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  background-size: cover;
}

/*contendor con transparencia*/
.caja1 {
  width: 100%;
  background-color: rgba(217, 217, 217, 0.8);
  box-shadow: 8px 4px 20px 10px rgba(0, 0, 0, 0.35);
  padding: 50px 50px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caja2 {
  width: 100%;
  background-color: rgb(247, 247, 250);
  padding: 48px 74px;
  border-radius: 40px;
}

.contendor1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.contenedor1_de1 {
  width: 30%;
}

#foto {
  width: 100%;
}

img {
  width: 100%;
  border-radius: 360px;
}

.contendor_inputs_form {
  display: flex;
  flex-direction: row;
}

.caja_campos {
  display: flex;
  flex-direction: column;
}

/*ESTILOS LABELS GENERAL*/
.labels_form {
  font-size: 22px;
  color: rgb(85, 0, 230);
}

/*estilos inputs general*/
.inputs_form {
  color: rgb(179, 179, 179);
  background-color: rgb(255, 255, 255);
  border-color: rgb(217, 217, 217);
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  padding: 14px 16px;
  font-size: 20px;
}

.inputs_form:focus {
  outline-color: rgb(158, 120, 230);
}

/*campos de cliente*/

/*FORMULARIO*/
.formulario_recuperar_contraseña {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*INPUTS*/

.contenedor2_de1 {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contendor_inputs_form {
  width: 100%;
  gap: 1rem;
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.boton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.boton button {
  width: 50%;
  background-color: black;
  border-radius: 8px;
  border-color: black;
  border-style: solid;
  color: rgb(255, 255, 255);
  font-size: 36px;
  cursor: pointer;
  padding: 5px;
}

div.boton button:hover {
  background-color: rgb(158, 120, 230);
  border-color: rgb(158, 120, 230);
}

div.boton button:active {
  background-color: rgb(85, 0, 230);
  border-color: rgb(85, 0, 230);
}

p {
  text-align: center;
}

#caracteres.mal {
  color: rgb(242, 80, 68);
}

#caracteres.bien {
  color: rgb(85, 0, 230);
}

#caracteres2.mal {
  color: rgb(242, 80, 68);
}

#caracteres2.bien {
  color: rgb(85, 0, 230);
}

/*RESPONSIVE*/

@media screen and (max-width: 1300px) {
  .labels_form {
    font-size: 20px;
  }

  .inputs_form {
    padding: 12px 16px;
    font-size: 17px;
  }
}

@media screen and (max-width: 1100px) {
  .contenedor1_de1 {
    width: 40%;
  }

  .contenedor2_de1 {
    width: 60%;
  }
}

@media screen and (max-width: 1000px) {
  div.boton button {
    width: 80%;
  }
}

@media screen and (max-width: 905px) {
  .contendor1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .inputs_form {
    padding: 8px 11px;
    font-size: 17px;
  }

  .contenedor1_de1 {
    width: 40%;
    align-self: center;
  }

  .contenedor2_de1 {
    width: 100%;
  }
}

@media screen and (max-width: 815px) {
  .contendor1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contenedor1_de1 {
    width: 50%;
  }

  .labels_form {
    font-size: 20px;
  }
}

@media screen and (max-width: 650px) {
  .caja2 {
    padding: 50px 50px;
  }
}

@media screen and (max-width: 580px) {
  .labels_form {
    line-height: 20px;
  }
}

@media screen and (max-width: 500px) {
  .caja1 {
    padding: 30px 30px;
  }

  .caja2 {
    padding: 30px 30px;
  }
}
