.titulo_contenido_pag span {
  font-size: 27px;
}

.titulo_contenido_pag {
  width: calc(100% / 2);
}

.formulario_sservicio {
  width: 100%;
}

.contendor_imagenes img {
  width: 100%;
}

form {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.foto1,
.foto2,
.campo1,
.campo2 {
  display: flex;
  flex-direction: column;
}

.foto1,
.foto2,
#nombre {
  width: 100%;
}

.campo1,
.campo2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

textarea {
  padding: 12px 16px;
  border-radius: 8px;
  border-style: solid;
  font-size: 20px;
  text-overflow: ellipsis;
  border-color: rgb(217, 217, 217);
  color: rgb(179, 179, 179);
}

select:focus,
textarea:focus {
  outline-color: rgb(158, 120, 230);
}

input[type="submit"] {
  background-color: black;
  border-color: black;
  color: white;
}

input[type="submit"]:hover {
  background-color: #5000e6;
  border-color: #5000e6;
}

.contenedor_campos_form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#inputs_multimedia {
  width: 30%;
}

.inputs_no_multimedia {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contenedor_campos_form,
input[type="submit"] {
  width: 100%;
}

input[type="file"] {
  display: none;
}

.fotos_sedes {
  width: 80%;
  border-radius: 360px;
  cursor: pointer;
}

/*-----------------------------------*/
@media screen and (max-width: 1700px) {
  .titulo_contenido_pag span {
    font-size: 27px;
  }
}

@media screen and (max-width: 1420px) {
  .titulo_contenido_pag span {
    font-size: 24px;
  }

  label {
    font-size: 20px;
  }
}

@media screen and (max-width: 1350px) {
  .titulo_contenido_pag span {
    font-size: 20px;
  }
}

@media screen and (max-width: 1270px) {
  input,
  select {
    padding: 12px 10px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1111px) {
  .titulo_contenido_pag {
    width: 100%;
  }

  form {
    flex-direction: column;
  }

  #inputs_multimedia {
    width: 100%;
    display: flex;
  }

  .foto1,
  .foto2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .labels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fotos_sedes {
    width: 70%;
  }

  .inputs_no_multimedia {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .contendor_imagenes {
    display: none;
  }
  .formulario_sservicio {
    width: 100%;
  }
}

@media screen and (max-width: 906px) {
  .titulo_contenido_pag span {
    font-size: 17px;
  }
}

@media screen and (max-width: 630px) {
  input,
  select {
    padding: 10px 7px;
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .contenedor_campos_form {
    flex-direction: column;
  }

  .campo1,
  .campo2 {
    width: 100%;
  }
}
