{% extends 'empresa_fumigadora/components/plantilla.html' %}

<!--extensiones css/bootstrap-->
{% block extensiones %} {{super()}}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/empresa_fumigadora/mensaje_empleado1.css')}}"
/>

<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/empresa_fumigadora/empleados_agregar.css')}}"
/>

<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/empresa_fumigadora/estilos_empleados.css')}}"
/>

<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/empresa_fumigadora/menu/menu.css')}}"
/>
{% endblock %}

<!--titulo de la pagina-->
{% block titulo %} NO HAY DATOS {% endblock %}

<!--cerrar sesion-->
{% block cerrar_sesion %} {{url_for('Login.cerrar_sesion')}} {% endblock %}

<!--logo de la empresa-->
{% block logo %} {{ file_path }} {% endblock %}

<!--boton de borrado de cuenta-->

<!--foto del encargado-->
{% block encargado %} {{file_path_encargado}} {% endblock %}

<!--titulos de cada pagina-->
{% block titulos_contenido %}
<div class="menu_empleados">
  <button id="abrir_menu">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-list"
      viewBox="0 0 16 16"
      id="abrir_men2"
    >
      <path
        fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
      />
    </svg>
  </button>

  <!--barra de navegacion-->
  <nav class="barra2">
    <button id="cerrar_menu">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-x-lg"
        viewBox="0 0 16 16"
        id="cerrar_men2"
      >
        <path
          d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
        />
      </svg>
    </button>

    <!--contendor de los botones-->
    <div class="contenedor_botones">
      <div class="titulo_contenido_pag">
        <span class="txt_contenido_pag" id="titulo1"
          ><a
            href="{{url_for ('Empresa_fumigadora.consultar_empleados')}}"
            class="titulos_empleados"
            >EMPLEADOS ACTIVOS</a
          ></span
        >
      </div>

      <div class="titulo_contenido_pag" id="empleados_inactivos">
        <span class="txt_contenido_pag" id="titulo2"
          ><a
            href="{{url_for ('Empresa_fumigadora.consultar_empleados_inhabilitados')}}"
            class="titulos_empleados"
            >EMPLEADOS INACTIVOS</a
          ></span
        >
      </div>

      <div class="titulo_contenido_pag" id="agregar_empleados">
        <span class="txt_contenido_pag" id="txt_agregar"
          ><a
            href="{{url_for('Empresa_fumigadora.Agregar_empleado')}}"
            class="titulos_empleados"
            id="conexion_agregar"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-plus-circle-fill"
              viewBox="0 0 16 16"
              id="agregar"
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"
              /></svg></a
        ></span>
        <span class="txt_contenido_pag" id="conexion_agregar2"
          ><a
            href="{{url_for('Empresa_fumigadora.Agregar_empleado')}}"
            class="titulos_empleados"
            >AGREGAR EMPLEADOS</a
          ></span
        >
      </div>
    </div>
  </nav>

  <style>
    .titulo_contenido_pag {
      background-color: rgb(158, 120, 230);
    }

    #agregar_empleados {
      background-color: rgb(158, 120, 230);
    }

    #empleados_inactivos {
      background-color: rgb(80, 0, 230);
    }

    #agregar_empleados:hover {
      background-color: rgb(80, 0, 230);
    }

    .contendor_imagen {
      width: 50%;
      overflow-y: hidden;
      max-height: 100%;
      display: flex;
    }

    .imagen_bienvenida {
      width: 100%;
      border-radius: 0px;
    }

    @media screen and (max-width: 1330px) {
      .contendor_mensaje_bienvenida {
        display: flex;
      }
    }
  </style>
</div>
{% endblock %}

<!--imagen de bienvenida-->
{% block contenido_usuario%}
<div class="contendor_mensaje_bienvenida">
  <div class="contendor_imagen">
    <img
      src="/static/src/images/imagen24.png"
      alt="imagen_bienvenida"
      class="imagen_bienvenida"
    />
  </div>
  <div class="contenedor_mensaje_actualizado">
    <div class="contnedor_h2">
      <h2 class="mensaje_h2">NO HAY EMPLEADOS</h2>
      <h4 class="mensaje_h4">
        No cuentas con empleados inactivos en nuestro sistema.
      </h4>
    </div>
  </div>
</div>
{% endblock %}

<!--script-->
{% block javascript %} {{super()}}
<script src="/static/js/empresa_fumigadora/menu_opciones/opciones.js"></script>
{% endblock %}
