<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--estilos del cuerpo-->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/register_login/register_login.css')}}"
    />

    <!--estilos de la pagina-->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/recuperar_password/recuperar_password.css')}}"
    />

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/estilos.css')}}"
    />

    <!--tipografia del documento-->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/fuente.css')}}"
    />

    <!--estilos del encabezado-->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/index/encabezado.css')}}"
    />

    <!--recaptcha-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <title>RECUPERA TU CONTRASEÑA</title>
  </head>
  <body>
    <!--encabezado/barra de navegacion-->
    <header>
      <!--logo de gestData-->
      <div class="logo_gest_data">
        <a href="/" class="enlace_logo">
          <img
            src="/static/src/images/logos/logo.png"
            alt="logo_GestData"
            style="width: 100%"
          />
        </a>
      </div>

      <!--menu abrir-->
      <button id="abrir" class="abrirMenu">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="73"
          height="73"
          fill="currentColor"
          class="bi bi-list"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
          />
        </svg>
      </button>

      <!--barra de mavegacion-->
      <nav id="barra_navegacion" class="barra_navegacion">
        <!--menu cerrar-->
        <button id="cerrar" class="cerrarMenu">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="73"
            height="73"
            fill="currentColor"
            class="bi bi-x"
            viewBox="0 0 16 16"
          >
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
            />
          </svg>
        </button>

        <!--menu-->
        <div class="contenedor_lista">
          <ul class="lista">
            <li>
              <a href="{{ url_for('Index.home') }}#hoja1" class="botones"
                >ACERCA DE</a
              >
            </li>
            <li>
              <a href="{{ url_for('Index.home') }}#hoja2" class="botones"
                >SERVICIOS</a
              >
            </li>
            <li>
              <a href="{{ url_for('Index.home') }}#hoja3" class="botones"
                >CONTACTO</a
              >
            </li>
            <li>
              <a href="{{ url_for('Index.home') }}#hoja4" class="botones"
                >PREGUNTAS FRECUENTES</a
              >
            </li>
            <li>
              <a href="{{ url_for('Index.home') }}#hoja5" class="botones"
                >LICENCIAS</a
              >
            </li>
          </ul>
        </div>

        <!--contendor botones-->
        <div class="bones_menu">
          <!--boton de login-->
          <button class="btn">
            <a href="{{ url_for('Login.login') }}" class="txt_btn"
              >INICIA SESIÓN</a
            >
          </button>

          <!--boton de register-->
          <button class="btn">
            <a href="{{ url_for('Register.register') }}" class="txt_btn"
              >CREA TU CUENTA</a
            >
          </button>
        </div>
      </nav>
    </header>

    <!--caja padre-->
    <div class="caja0">
      <!--caja con transparencia-->
      <div class="caja1">
        <!--contenedor del formulario-->
        <div class="caja2">
          {% with messages = get_flashed_messages() %} {% if messages %} {% for
          message in messages %}
          <div class="alerta_error">
            <p>{{message}}</p>
          </div>
          {% endfor %} {% endif %} {% endwith %}

          <!--formulario-->
          <form
            action="{{ url_for('Recuperar_password.Cambiar_contraseña') }}"
            method="post"
            class="formulario_recuperar_contraseña"
          >
            <!--contendor 1-->
            <div class="contendor1">
              <!--subcontenedor 1 del contenedo 1-->
              <div class="contenedor1_de1">
                <!--foto-->
                <div id="foto" class="caja_campos">
                  <img
                    src="/static/src/images/imagenes_adicionales/avatar1.jpg"
                    alt="foto_user"
                  />
                </div>
              </div>

              <!--subcontenedor 2 del contedor 1-->
              <div class="contenedor2_de1">
                <!--nit y nombre comercial-->
                <div class="contendor_inputs_form">
                  <!--roles-->
                  <div class="roles">
                    <label for="rol" class="labels_form">Rol de usuario</label>
                    <select name="rol" id="" class="roles_campo" required>
                      <option value="" selected disabled></option>
                      <option value="Empresa_fumigadora">
                        Empresa fumigadora
                      </option>
                      <option value="Empleado">
                        Empleado de empresa fumigadora
                      </option>
                      <option value="Cliente">Contratante de servicios</option>
                      <option value="Sede_cliente">Sede de contratante</option>
                    </select>
                  </div>

                  <!--nit-->
                  <div id="correo_usuario" class="caja_campos">
                    <label for="correo_usuario" class="labels_form"
                      >Correo Electronico</label
                    >
                    <input
                      type="email"
                      name="correo_usuario"
                      id="usuario_correo"
                      minlength="10"
                      class="inputs_form"
                      placeholder="elSapoRico@gmail.com"
                      maxlength="30"
                      required
                    />
                  </div>

                  <!--nombre comercial-->
                  <div id="contraseña_nueva" class="caja_campos">
                    <label for="contraseña_nueva" class="labels_form"
                      >Contraseña</label
                    >
                    <input
                      type="password"
                      name="contraseña_nueva"
                      id="nueva_contraseña"
                      minlength="10"
                      required
                      class="inputs_form"
                      placeholder="Sandra_te_queremos"
                      maxlength="20"
                    />
                    <span>Caracteres: <span id="caracteres">0</span> /20 </span>
                  </div>

                  <div id="contraseña_nueva" class="caja_campos">
                    <label for="verificar_contraseña" class="labels_form"
                      >Verificar contraseña</label
                    >
                    <input
                      type="password"
                      name="verificar_contraseña"
                      id="contraseña_verificar"
                      minlength="10"
                      required
                      class="inputs_form"
                      placeholder="Sandra_te_queremos"
                      maxlength="20"
                    />
                    <span
                      >Caracteres: <span id="caracteres2">0</span> /20
                    </span>
                  </div>
                </div>

                <div class="boton">
                  <button type="submit">CAMBIAR</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <style>
        .roles {
          width: 100%;
          display: flex;
          flex-direction: column;
        }

        .roles_campo {
          color: rgb(179, 179, 179);
          background-color: rgb(255, 255, 255);
          border-color: rgb(217, 217, 217);
          border-width: 1px;
          border-style: solid;
          border-radius: 8px;
          padding: 14px 16px;
          font-size: 20px;
          width: 100%;
        }

        .roles_campo:focus {
          outline-color: #9e78e6;
        }

        .alerta_error {
          text-align: start;
          border-radius: 40px;
          background-color: #f25044;
          padding: 15px;
        }
      </style>
    </div>

    <!--scripts-->
    <script src="/static/js/header/header.js"></script>
    <script src="/static/js/recuperar_password/caracterers.js"></script>
  </body>
</html>
